<!DOCTYPE html>
<html lang="zxx" class="js">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Coinpass" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        {% load static %}

        <link
        rel="shortcut icon"
        href="{% static 'dashboard/images/favicon.ico' %}"
        />
        <title>Coinpass | Dashboard</title>
        <link rel="stylesheet" href="{% static 'dashboard/css/dashlite.css' %}" />
        <link
        rel="stylesheet"
        href="{% static 'dashboard/css/style-email.css' %}"
        />
    </head>
    <body>
        <div class="nk-content">
            <div class="container-fluid">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                        <div class="content-page wide-md m-auto">
                            <div class="nk-block">
                                <div class="card">
                                    <div class="card-inner">
                                        <table class="email-wraper" style="background: #101924">
                                            <tr>
                                                <td class="py-5">
                                                <table class="email-header">
                                                    <tbody>
                                                    <tr>
                                                        <td class="text-center pb-4">
                                                        <a href="#">
                                                            <img
                                                            class="email-logo"
                                                            src="{% static 'dashboard/images/coinpass-logo-inverted_nopadding.png' %}"
                                                            alt="logo"
                                                            />
                                                        </a>
                                                        <p class="email-title" style="color: white">
                                                            Investment Platform Site
                                                        </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="email-body">
                                                    <tbody>
                                                        <tr>
                                                            <td class="px-3 px-sm-5 pt-3 pt-sm-5 pb-3">
                                                                <h2 class="email-heading" style="color: #55b9e3;">Reset Password</h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-3 p-sm-5">
                                                            <p><strong>Hi Ishtiyak,</strong></p>
                                                            <p>
                                                                We are pleased to have you as a member of
                                                                Dashlite Family.
                                                            </p>
                                                            <p>
                                                                Your account is now verified and you can
                                                                purchase tokens for the ICO. Also you can
                                                                submit your documents for the KYC from my
                                                                Account page.
                                                            </p>
                                                            <p>
                                                                Hope you'll enjoy the experience, we're here
                                                                if you have any questions, drop us a line at
                                                                <a href="mailto:info@yourwebsite.com"
                                                                >info@yourwebsite.com</a
                                                                >
                                                                anytime.
                                                            </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="email-footer">
                                                    <tbody>
                                                    <tr>
                                                        <td class="text-center pt-4">
                                                        <p class="email-copyright-text">
                                                            Copyright © 2020 Coinpass. All rights
                                                            reserved.
                                                            <br />
                                                        </p>
                                                        <ul class="email-social">
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/facebook.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/twitter.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/youtube.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/medium.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                        </ul>
                                                        <p class="fs-12px pt-4">
                                                            This email was sent to you as a registered
                                                            member of
                                                            <a href="index">Coinpass.com</a>.
                                                        </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
