<!DOCTYPE html>
<html lang="zxx" class="js">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Coinpass" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        {% load static %}

        <link
        rel="shortcut icon"
        href="{% static 'dashboard/images/favicon.ico' %}"
        />
        <title>Coinpass | Dashboard</title>
        <link rel="stylesheet" href="{% static 'dashboard/css/dashlite.css' %}" />
        <link
        rel="stylesheet"
        href="{% static 'dashboard/css/style-email.css' %}"
        />
    </head>
    <body>
        <div class="nk-content">
            <div class="container-fluid">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                        <div class="content-page wide-md m-auto">
                            <div class="nk-block">
                                <div class="card">
                                    <div class="card-inner">
                                        <table class="email-wraper" style="background: #101924">
                                            <tr>
                                                <td class="py-5">
                                                <table class="email-header">
                                                    <tbody>
                                                    <tr>
                                                        <td class="text-center pb-4">
                                                        <a href="#">
                                                            <img
                                                            class="email-logo"
                                                            src="{% static 'dashboard/images/coinpass-logo-inverted_nopadding.png' %}"
                                                            alt="logo"
                                                            />
                                                        </a>
                                                        <p class="email-title" style="color: white">
                                                            Investment Platform Site
                                                        </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="email-body">
                                                    <tbody>
                                                    <tr>
                                                        <td class="px-3 px-sm-5 pt-3 pt-sm-5 pb-3">
                                                        <h2 class="email-heading">
                                                            Confirm Your E-Mail Address
                                                        </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="px-3 px-sm-5 pb-2">
                                                        <p>Hi Ishtiyak,</p>
                                                        <p>
                                                            Welcome! <br />
                                                            You are receiving this email because you
                                                            have registered on our site.
                                                        </p>
                                                        <p>
                                                            Click the link below to active your Coinpass
                                                            account.
                                                        </p>
                                                        <p class="mb-4">
                                                            This link will expire in 15 minutes and can
                                                            only be used once.
                                                        </p>
                                                        <a href="{% url 'coinpass:login' %}" class="email-btn">Verify Email</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="px-3 px-sm-5 pt-4">
                                                        <h4 class="email-heading-s2">or</h4>
                                                        <p>
                                                            If the button above does not work, paste
                                                            this link into your web browser:
                                                        </p>
                                                        <a href="{% url 'coinpass:login' %}" class="link-block">
                                                            https://127.0.0.1/Home/login
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="px-3 px-sm-5 pt-4 pb-3 pb-sm-5">
                                                        <p>
                                                            If you did not make this request, please
                                                            contact us or ignore this message.
                                                        </p>
                                                        <p class="email-note">
                                                            This is an automatically generated email
                                                            please do not reply to this email. If you
                                                            face any issues, please contact us at
                                                            coinpasslimited@gmail.com
                                                        </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="email-footer">
                                                    <tbody>
                                                    <tr>
                                                        <td class="text-center pt-4">
                                                        <p class="email-copyright-text">
                                                            Copyright © 2020 Coinpass. All rights
                                                            reserved.
                                                            <br />
                                                        </p>
                                                        <ul class="email-social">
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/facebook.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/twitter.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/youtube.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                            <li>
                                                            <a href="#"
                                                                ><img
                                                                src="{% static 'dashboard/images/socials/medium.png' %}"
                                                                alt=""
                                                            /></a>
                                                            </li>
                                                        </ul>
                                                        <p class="fs-12px pt-4">
                                                            This email was sent to you as a registered
                                                            member of
                                                            <a href="index">Coinpass.com</a>.
                                                        </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
