{% extends 'dashboard/templates/dashbaord/base.html' %} {% load static %} {% block content %}

<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="content-page wide-md m-auto">
          <div class="nk-block-head nk-block-head-lg wide-sm">
            <div class="nk-block-head-content">
              <h2 class="nk-block-title fw-normal">Email Templates</h2>
              <div class="nk-block-des">
                <p class="lead">
                  In DashLite, We included 10 clean and minimalist notification
                  email templates that ready to use for your application to send
                  emails.
                  <strong class="text-primary"
                    >Stand-Alone html files found in packages</strong
                  >.
                </p>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h4 class="title text-soft mb-4 overline-title">
                  Basis Style - Simple Email Template
                </h4>
                <table class="email-wraper">
                  <tr>
                    <td class="py-5">
                      <table class="email-header">
                        <tbody>
                          <tr>
                            <td class="text-center pb-4">
                              <a href="#"
                                ><img
                                  class="email-logo"
                                  src="{% static 'dashbaord/images/logo-dark2x.png"
                                  alt="logo"
                              /></a>
                              <p class="email-title">
                                Conceptual Base Modern Dashboard Theme
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-body">
                        <tbody>
                          <tr>
                            <td class="p-3 p-sm-5">
                              <p><strong>Hello User</strong>,</p>
                              <p>
                                Let's face it, sometimes you have a simple
                                message that doesn’t need much design—but still
                                needs flexibility and reliability. Select a
                                basic email template. Write your message. Then
                                send with confidence.
                              </p>
                              <p>
                                Its clean, minimal and pre-designed email
                                template that is suitable for multiple purposes
                                email template.
                              </p>
                              <p>
                                Hope you'll enjoy the experience, we're here if
                                you have any questions, drop us a line at
                                info@yourwebsite.com anytime.
                              </p>
                              <p class="mt-4">
                                ---- <br />
                                Regards<br />Abu Bin Ishtiyak
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-footer">
                        <tbody>
                          <tr>
                            <td class="text-center pt-4">
                              <p class="email-copyright-text">
                                Copyright © 2020 DashLite. All rights reserved.
                                <br />
                                Template Made By
                                <a
                                  href="https://themeforest.net/user/softnio/portfolio"
                                  >Softnio</a
                                >.
                              </p>
                              <ul class="email-social">
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/facebook.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/twitter.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/youtube.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/medium.png"
                                      alt=""
                                  /></a>
                                </li>
                              </ul>
                              <p class="fs-12px pt-4">
                                This email was sent to you as a registered
                                member of
                                <a href="https://softnio.com">softnio.com</a>.
                                To update your emails preferences
                                <a href="#">click here</a>.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h4 class="title text-soft mb-4 overline-title">
                  Centered Style - Welcome Type Email Template
                </h4>
                <table class="email-wraper">
                  <tr>
                    <td class="py-5">
                      <table class="email-header">
                        <tbody>
                          <tr>
                            <td class="text-center pb-4">
                              <a href="#"
                                ><img
                                  class="email-logo"
                                  src="{% static 'dashbaord/images/logo-dark2x.png"
                                  alt="logo"
                              /></a>
                              <p class="email-title">
                                Conceptual Base Modern Dashboard Theme
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-body text-center">
                        <tbody>
                          <tr>
                            <td class="p-3 p-sm-5">
                              <h5 class="email-heading email-heading-s1 mb-4">
                                Hi Candy<br />Purchase and get lifetime update!
                              </h5>
                              <p class="fs-16px text-base">
                                Say hello to version 1.1. Introducing email
                                template with massaging application concept and
                                as always modern, clean and easier to use.
                              </p>
                              <p>
                                Hope you'll enjoy the experience, we're here if
                                you have any questions, drop us a line at
                                info@yourwebsite.com anytime.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-footer">
                        <tbody>
                          <tr>
                            <td class="text-center pt-4">
                              <p class="email-copyright-text">
                                Copyright © 2020 DashLite. All rights reserved.
                                <br />
                                Template Made By
                                <a
                                  href="https://themeforest.net/user/softnio/portfolio"
                                  >Softnio</a
                                >.
                              </p>
                              <ul class="email-social">
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/facebook.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/twitter.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/youtube.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/medium.png"
                                      alt=""
                                  /></a>
                                </li>
                              </ul>
                              <p class="fs-12px pt-4">
                                This email was sent to you as a registered
                                member of
                                <a href="https://softnio.com">softnio.com</a>.
                                To update your emails preferences
                                <a href="#">click here</a>.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
          
          
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h4 class="title text-soft mb-4 overline-title">
                  Notification - Password Changed Template
                </h4>
                <table class="email-wraper">
                  <tr>
                    <td class="py-5">
                      <table class="email-header">
                        <tbody>
                          <tr>
                            <td class="text-center pb-4">
                              <a href="#"
                                ><img
                                  class="email-logo"
                                  src="{% static 'dashbaord/images/logo-dark2x.png"
                                  alt="logo"
                              /></a>
                              <p class="email-title">
                                Conceptual Base Modern Dashboard Theme
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-body text-center">
                        <tbody>
                          <tr>
                            <td class="px-3 px-sm-5 pt-3 pt-sm-5 pb-3">
                              <h2 class="email-heading text-success">
                                Password Successfully Changed
                              </h2>
                            </td>
                          </tr>
                          <tr>
                            <td class="px-3 px-sm-5">
                              <p>Hi Ishtiyak,</p>
                              <p>
                                You have successfully reseted your password.
                                Thanks for being with us.
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td class="px-3 px-sm-5 pt-4 pb-3 pb-sm-5">
                              <p class="email-note">
                                This is an automatically generated email please
                                do not reply to this email. If you face any
                                issues, please contact us at help@dashlite.com
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-footer">
                        <tbody>
                          <tr>
                            <td class="text-center pt-4">
                              <p class="email-copyright-text">
                                Copyright © 2020 DashLite. All rights reserved.
                                <br />
                                Template Made By
                                <a
                                  href="https://themeforest.net/user/softnio/portfolio"
                                  >Softnio</a
                                >.
                              </p>
                              <ul class="email-social">
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/facebook.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/twitter.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/youtube.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/medium.png"
                                      alt=""
                                  /></a>
                                </li>
                              </ul>
                              <p class="fs-12px pt-4">
                                This email was sent to you as a registered
                                member of
                                <a href="https://softnio.com">softnio.com</a>.
                                To update your emails preferences
                                <a href="#">click here</a>.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h4 class="title text-soft mb-4 overline-title">
                  Notification - KYC Submission Template
                </h4>
                <table class="email-wraper">
                  <tr>
                    <td class="py-5">
                      <table class="email-header">
                        <tbody>
                          <tr>
                            <td class="text-center pb-4">
                              <a href="#"
                                ><img
                                  class="email-logo"
                                  src="{% static 'dashbaord/images/logo-dark2x.png"
                                  alt="logo"
                              /></a>
                              <p class="email-title">
                                Conceptual Base Modern Dashboard Theme
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-body text-center">
                        <tbody>
                          <tr>
                            <td class="px-3 px-sm-5 pt-3 pt-sm-5 pb-4">
                              <img
                                class="w-100px"
                                src="{% static 'dashbaord/images/email/kyc-progress.png"
                                alt="In Process"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="px-3 px-sm-5 pb-3 pb-sm-5">
                              <h5 class="text-primary mb-3">
                                Your application under varification process.
                              </h5>
                              <p>
                                We are still working on your identity
                                verification. Once our team verified your
                                indentity, you will be whitelisted and notified
                                by email.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-footer">
                        <tbody>
                          <tr>
                            <td class="text-center pt-4">
                              <p class="email-copyright-text">
                                Copyright © 2020 DashLite. All rights reserved.
                                <br />
                                Template Made By
                                <a
                                  href="https://themeforest.net/user/softnio/portfolio"
                                  >Softnio</a
                                >.
                              </p>
                              <ul class="email-social">
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/facebook.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/twitter.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/youtube.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/medium.png"
                                      alt=""
                                  /></a>
                                </li>
                              </ul>
                              <p class="fs-12px pt-4">
                                This email was sent to you as a registered
                                member of
                                <a href="https://softnio.com">softnio.com</a>.
                                To update your emails preferences
                                <a href="#">click here</a>.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h4 class="title text-soft mb-4 overline-title">
                  Notification - KYC Missing Template
                </h4>
                <table class="email-wraper">
                  <tr>
                    <td class="py-5">
                      <table class="email-header">
                        <tbody>
                          <tr>
                            <td class="text-center pb-4">
                              <a href="#"
                                ><img
                                  class="email-logo"
                                  src="{% static 'dashbaord/images/logo-dark2x.png"
                                  alt="logo"
                              /></a>
                              <p class="email-title">
                                Conceptual Base Modern Dashboard Theme
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-body text-center">
                        <tbody>
                          <tr>
                            <td class="px-3 px-sm-5 pt-3 pt-sm-5 pb-4">
                              <img
                                class="w-100px"
                                src="{% static 'dashbaord/images/email/kyc-pending.png"
                                alt="Pending"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="px-3 px-sm-5 pb-3 pb-sm-5">
                              <h5 class="text-warning mb-3">
                                We found some information missing in
                                application.
                              </h5>
                              <p>
                                In our verification process, we found
                                information are missing. It would great if you
                                resubmit the form. If face problem in submission
                                please contact us with our best ever excelent
                                support team.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-footer">
                        <tbody>
                          <tr>
                            <td class="text-center pt-4">
                              <p class="email-copyright-text">
                                Copyright © 2020 DashLite. All rights reserved.
                                <br />
                                Template Made By
                                <a
                                  href="https://themeforest.net/user/softnio/portfolio"
                                  >Softnio</a
                                >.
                              </p>
                              <ul class="email-social">
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/facebook.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/twitter.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/youtube.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/medium.png"
                                      alt=""
                                  /></a>
                                </li>
                              </ul>
                              <p class="fs-12px pt-4">
                                This email was sent to you as a registered
                                member of
                                <a href="https://softnio.com">softnio.com</a>.
                                To update your emails preferences
                                <a href="#">click here</a>.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h4 class="title text-soft mb-4 overline-title">
                  Notification - KYC Approved Template
                </h4>
                <table class="email-wraper">
                  <tr>
                    <td class="py-5">
                      <table class="email-header">
                        <tbody>
                          <tr>
                            <td class="text-center pb-4">
                              <a href="#"
                                ><img
                                  class="email-logo"
                                  src="{% static 'dashbaord/images/logo-dark2x.png"
                                  alt="logo"
                              /></a>
                              <p class="email-title">
                                Conceptual Base Modern Dashboard Theme
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-body text-center">
                        <tbody>
                          <tr>
                            <td class="px-3 px-sm-5 pt-3 pt-sm-5 pb-4">
                              <img
                                class="w-100px"
                                src="{% static 'dashbaord/images/email/kyc-success.png"
                                alt="Verified"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="px-3 px-sm-5 pb-3 pb-sm-5">
                              <h5 class="text-success mb-3">
                                Your Identity Verified.
                              </h5>
                              <p>
                                One fo our team verified your indentity. You are
                                now in whitelisted for token sale.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-footer">
                        <tbody>
                          <tr>
                            <td class="text-center pt-4">
                              <p class="email-copyright-text">
                                Copyright © 2020 DashLite. All rights reserved.
                                <br />
                                Template Made By
                                <a
                                  href="https://themeforest.net/user/softnio/portfolio"
                                  >Softnio</a
                                >.
                              </p>
                              <ul class="email-social">
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/facebook.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/twitter.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/youtube.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/medium.png"
                                      alt=""
                                  /></a>
                                </li>
                              </ul>
                              <p class="fs-12px pt-4">
                                This email was sent to you as a registered
                                member of
                                <a href="https://softnio.com">softnio.com</a>.
                                To update your emails preferences
                                <a href="#">click here</a>.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h4 class="title text-soft mb-4 overline-title">
                  Simple News - Basic Newsletter Template
                </h4>
                <table class="email-wraper">
                  <tr>
                    <td class="py-5">
                      <table class="email-header">
                        <tbody>
                          <tr>
                            <td class="text-center pb-4">
                              <a href="#"
                                ><img
                                  class="email-logo"
                                  src="{% static 'dashbaord/images/logo-dark2x.png"
                                  alt="logo"
                              /></a>
                              <p class="email-title">
                                Conceptual Base Modern Dashboard Theme
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-body">
                        <tbody>
                          <tr>
                            <td
                              class="text-center px-3 px-sm-5 pt-3 pt-sm-5 pb-4"
                            >
                              <img
                                src="{% static 'dashbaord/images/slides/slide-a.jpg"
                                alt="image"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center px-3 px-sm-5 pb-5">
                              <h2 class="email-heading email-heading-sm">
                                How to request a payment.
                              </h2>
                              <p class="mgb-1-5x">
                                Lorem Ipsum decided to leave for the far World
                                of Grammar. The Big Oxmox advised her not to do
                                so, because there were thousands of bad Comma
                              </p>
                              <a href="#" class="email-btn email-btn-sm"
                                >Read More</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center px-3 px-sm-5 pb-4">
                              <img
                                src="{% static 'dashbaord/images/slides/slide-b.jpg"
                                alt="image"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center px-3 px-sm-5 pb-5">
                              <h2 class="email-heading email-heading-sm">
                                How to request a payment.
                              </h2>
                              <p>
                                Lorem Ipsum decided to leave for the far World
                                of Grammar.
                              </p>
                              <p>
                                Wild Question Marks and devious Semikoli, but
                                the Little Blind Text didn’t listen. She packed
                                her seven versalia, put her initial into the
                                belt and made herself on the way
                              </p>
                              <p>
                                Lorem Ipsum decided to leave for the far World
                                of Grammar. The Big Oxmox advised her not to do
                                so, because there were thousands of bad Commans.
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center px-3 px-sm-5 pb-4">
                              <img
                                src="{% static 'dashbaord/images/slides/slide-c.jpg"
                                alt="image"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="px-3 px-sm-5 pb-5">
                              <h2 class="email-heading email-heading-sm">
                                Our New Update release.
                              </h2>
                              <table class="w-100">
                                <tbody>
                                  <tr>
                                    <td class="w-100">
                                      <ul class="email-ul email-ul-col2">
                                        <li>Decenterlized</li>
                                        <li>Faster Access</li>
                                        <li>New Encryption</li>
                                        <li>New App</li>
                                        <li>Smart Payment</li>
                                        <li>Extremely light</li>
                                        <li>Strong Network</li>
                                        <li>Updated UI</li>
                                      </ul>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <a href="#" class="email-btn email-btn-sm mt-2"
                                >Read More</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="email-footer">
                        <tbody>
                          <tr>
                            <td class="text-center pt-4">
                              <p class="email-copyright-text">
                                Copyright © 2020 DashLite. All rights reserved.
                                <br />
                                Template Made By
                                <a
                                  href="https://themeforest.net/user/softnio/portfolio"
                                  >Softnio</a
                                >.
                              </p>
                              <ul class="email-social">
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/facebook.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/twitter.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/youtube.png"
                                      alt=""
                                  /></a>
                                </li>
                                <li>
                                  <a href="#"
                                    ><img
                                      src="{% static 'dashbaord/images/socials/medium.png"
                                      alt=""
                                  /></a>
                                </li>
                              </ul>
                              <p class="fs-12px pt-4">
                                This email was sent to you as a registered
                                member of
                                <a href="https://softnio.com">softnio.com</a>.
                                To update your emails preferences
                                <a href="#">click here</a>.
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
