{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h4 class="nk-block-title page-title">Invest</h4>
            </div>
          </div>
        </div>
        <div class="nk-block">
          <div class="row g-gs">
            <div class="col-xxl-8">
              <div class="card card-full">
                <div class="card-inner">
                  <div class="card-title-group">
                    <div class="card-title">
                      <h6 class="title">Invest from your account</h6>
                    </div>
                  </div>
                </div>
                <div class="card-inner">
                  <form action="" method="post">

                    {% csrf_token %}
                    <div class="row g-gs">
                      <div class="col-xxl-6">
                        <div class="card is-dark h-100">
                          <div class="nk-ecwg nk-ecwg1">
                            <div class="card-inner">
                              <div class="card-title-group">
                                <div class="card-title">
                                  <h6 class="title">Amount Account</h6>
                                </div>
                                <div class="card-tools">
                                  <a href="#" class="link">View Report</a>
                                </div>
                              </div>
                              <div class="data">
                                <div class="amount">
                                  ${{ account.amount }}
                                </div>
                                <div class="info">
                                  <strong>$7,395.37</strong> in last month
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 col-md-6">
                        <label class="form-label">Choose a plan</label>
                        <div class="form-control-wrap">
                          <div class="form-control-select">
                            <select class="form-control" id="default-06">
                              <option value="default_option">
                                Choose
                              </option>
                              <option value="option_select_name">
                                Bronze Plan
                              </option>
                              <option value="option_select_name">
                                Silver Plan
                              </option>
                              <option value="option_select_name">
                                Gold Plan
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="{{ invest.amountDep.id_for_label }}"
                            >Amount</label
                          >
                          <div class="form-control-wrap">
                            <div class="form-text-hint">
                              <span class="overline-title">Usd</span>
                            </div>

                            {{ invest.amountDep }}

                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">
                            Invest form Account
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xxl-8">
              <hr class="preview-hr">
              <div class="text-center">
                <h6 class="overline-title overline-title-sap">
                    <span>OR</span>
                </h6>
              </div>
              <hr class="preview-hr"> 
            </div>
            <div class="col-xxl-8">
              <div class="card card-full">
                <div class="card-inner">
                  <div class="card-title-group">
                    <div class="card-title">
                      <h6 class="title">Invest from an external account</h6>
                    </div>
                  </div>
                </div>
                <div class="card-inner">
                  <form action="" method="post">

                    {% csrf_token %}

                    <div class="row g-gs">
                      <div class="col-lg-6 col-md-6">
                        <label class="form-label">Choose a plan</label>
                        <div class="form-control-wrap">
                          <div class="form-control-select">
                            <select class="form-control" id="default-06">
                              <option value="default_option">
                                Choose
                              </option>
                              <option value="option_select_name">
                                Bronze Plan
                              </option>
                              <option value="option_select_name">
                                Silver Plan
                              </option>
                              <option value="option_select_name">
                                Gold Plan
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="{{ invest.amountDep.id_for_label }}"
                            >Amount</label
                          >
                          <div class="form-control-wrap">
                            <div class="form-text-hint">
                              <span class="overline-title">Usd</span>
                            </div>

                            {{ invest.amountDep }}
                            <!-- <input
                              type="text"
                              class="form-control"
                              id="pay-amount-1"
                              placeholder="amount to invest"
                              required=""
                            /> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-label" for="{{ invest.payerDep.id_for_label }}"
                            >Payment Methods</label
                          >
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <select class="form-control" id="default-06">
                                <option value="default_option">Bitcoin</option>
                                <option value="option_select_name">
                                  Ethereum
                                </option>
                                <option value="option_select_name">
                                  Perfect Money
                                </option>
                              </select>
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="your wallet here"
                              required=""
                            />
                          </div>
                        </div>
                      </div>
                      
                      <!-- Displaying messages -->

                      {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                              {{ message }}
                            </li>
                          {% endfor %}
                      </ul>
                      {% endif %}

                      <!-- Displaying messages -->
                      
                      <div class="col-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">
                            Deposit &#38; Invest
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xxl-8">
              <div class="card card-full">
                <div class="card-inner">
                  <div class="card-title-group">
                    <div class="card-title">
                      <h6 class="title">Recent Invests</h6>
                    </div>
                  </div>
                </div>
                <div class="nk-tb-list mt-n2">
                  <div class="nk-tb-item nk-tb-head">
                    <div class="nk-tb-col">
                      <span>No.</span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                      <span>Customer</span>
                    </div>
                    <div class="nk-tb-col tb-col-md">
                      <span>Date</span>
                    </div>
                    <div class="nk-tb-col"><span>Amount</span></div>
                    <div class="nk-tb-col">
                      <span class="d-none d-sm-inline">Status</span>
                    </div>
                  </div>
                  {% if invests %} {% for invest in invests %}
                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead">
                        <a href="#">{{ invest.pk }}</a>
                      </span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                      <div class="user-card">
                        <div class="user-avatar sm bg-purple-dim">
                          <span>AB</span>
                        </div>
                        <div class="user-name">
                          <span class="tb-lead">{{ user.name }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="nk-tb-col tb-col-md">
                      <span class="tb-sub">{{ invest.dateDep }}</span>
                    </div>
                    <div class="nk-tb-col">
                      <span class="tb-sub tb-amount">
                        {{ invest.amountDep }}
                        <span>USD</span>
                      </span>
                    </div>
                    <div class="nk-tb-col">
                      {% if invest.statusDep == 'False' %}
                      <span class="badge badge-dot badge-dot-xs badge-success">
                        Pending
                      </span>
                      {% else %}
                      <span class="badge badge-dot badge-dot-xs badge-danger">
                        Canceled
                      </span>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %} {% endif %}

                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#95850</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                      <div class="user-card">
                        <div class="user-avatar sm bg-azure-dim">
                          <span>DE</span>
                        </div>
                        <div class="user-name">
                          <span class="tb-lead">Desiree Edwards</span>
                        </div>
                      </div>
                    </div>
                    <div class="nk-tb-col tb-col-md">
                      <span class="tb-sub">02/02/2020</span>
                    </div>
                    <div class="nk-tb-col">
                      <span class="tb-sub tb-amount"
                        >596.75 <span>USD</span></span
                      >
                    </div>
                    <div class="nk-tb-col">
                      <span class="badge badge-dot badge-dot-xs badge-danger">
                        Canceled
                      </span>
                    </div>
                  </div>
                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#95812</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                      <div class="user-card">
                        <div class="user-avatar sm bg-warning-dim">
                          <img src="images/avatar/b-sm.jpg" alt="" />
                        </div>
                        <div class="user-name">
                          <span class="tb-lead">Blanca Schultz</span>
                        </div>
                      </div>
                    </div>
                    <div class="nk-tb-col tb-col-md">
                      <span class="tb-sub">02/01/2020</span>
                    </div>
                    <div class="nk-tb-col">
                      <span class="tb-sub tb-amount"
                        >199.99 <span>USD</span></span
                      >
                    </div>
                    <div class="nk-tb-col">
                      <span class="badge badge-dot badge-dot-xs badge-success"
                        >Paid</span
                      >
                    </div>
                  </div>
                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#95256</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                      <div class="user-card">
                        <div class="user-avatar sm bg-purple-dim">
                          <span>NL</span>
                        </div>
                        <div class="user-name">
                          <span class="tb-lead">Naomi Lawrence</span>
                        </div>
                      </div>
                    </div>
                    <div class="nk-tb-col tb-col-md">
                      <span class="tb-sub">01/29/2020</span>
                    </div>
                    <div class="nk-tb-col">
                      <span class="tb-sub tb-amount"
                        >1099.99 <span>USD</span></span
                      >
                    </div>
                    <div class="nk-tb-col">
                      <span class="badge badge-dot badge-dot-xs badge-success"
                        >Paid</span
                      >
                    </div>
                  </div>
                  <div class="nk-tb-item">
                    <div class="nk-tb-col">
                      <span class="tb-lead"><a href="#">#95135</a></span>
                    </div>
                    <div class="nk-tb-col tb-col-sm">
                      <div class="user-card">
                        <div class="user-avatar sm bg-success-dim">
                          <span>CH</span>
                        </div>
                        <div class="user-name">
                          <span class="tb-lead">Cassandra Hogan</span>
                        </div>
                      </div>
                    </div>
                    <div class="nk-tb-col tb-col-md">
                      <span class="tb-sub">01/29/2020</span>
                    </div>
                    <div class="nk-tb-col">
                      <span class="tb-sub tb-amount"
                        >1099.99 <span>USD</span></span
                      >
                    </div>
                    <div class="nk-tb-col">
                      <span class="badge badge-dot badge-dot-xs badge-warning"
                        >Due</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
